:root{
    --forecast-card-color: rgb(64, 163, 230);
    --forecast-card-text: rgb(230, 238, 243);
}

#submit-city{
    width: 190px;
}
.forecast-card{
   background-color: var(--forecast-card-color);
    overflow: hidden;
    color: var(--forecast-card-text);
}

@media (min-width: 576px) and (max-width: 992px) {
   #submit-city{
       max-width: 80px;
   }
   #city-name{
    max-width: 80px;

   }
  }

  @media (max-width: 576px) {
    #submit-city{
        max-width: 80px;
    }
    #city-name{
     max-width: 80px;
 
    }
   }